.box1{
    background-color: #5F3534;
    height: 120px;
}

.box2{
    background-color: #5F3534;
    height: 60px 
}

.redes{
    font-size: 40px !important;
    color: white;
}

.textos{
  color: white;
}

